* {box-sizing: border-box}

body {
margin: 0;
padding: 0}

body {background-color: #alpha}




.center {
width: 100%;
padding: 20px}

@media screen and (max-width: 768px) {
.center {width: 100%}}


.string3, .string4, .string5, .string6 {
height: 10px;
width: 90%;

display: block;
margin: auto}

.string3:hover, .string4:hover, .string5:hover, .string6:hover {cursor: pointer}

.string3 {
    margin-top: -40px;
    margin-left: 195px;
    background-image: url('pics/spring.svg');
    background-color: #909090;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: solid #101010;
    border-radius: 3px;
}

.string3:active {
    background-color: #E39223;
    border: solid #000000;
    border-radius: 5px;
} 

.string4 {
    margin-top: -40px;
    margin-left: 145px;
    background-image: url('pics/down.svg');
    background-color: #909090;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: solid #101010;
    border-radius: 3px;
}

.string4:active {
    background-color: #E39223;
    border: solid #000000;
    border-radius: 5px;
} 

.string5 {
    margin-top: -40px;
    margin-left: 95px;
    background-image: url('pics/up.svg');
    background-color: #909090;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: solid #101010;
    border-radius: 3px;
}

.string5:active {
    background-color: #E39223;
    border: solid #000000;
    border-radius: 5px;
} 

.string6 {
    margin-left: 45px;
    background-image: url('pics/sync.svg');
    background-color: #909090;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: solid #101010;
    border-radius: 3px;
}

.string6:active {
    background-color: #E39223;
    border: solid #000000;
    border-radius: 5px;
} 

